TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
GEMINI_API_KEY=key1,key2 # Supports multiple keys (comma-separated) for increased free quota
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_CALENDAR_ID=primary
GOOGLE_TASK_LIST_ID=
